.header {
  border-bottom: 1px solid #f0f0f0;
}

.nav {
  padding: 12px;
  border-right: 1px solid #f0f0f0;
}

.center {
  height: 100%;
  padding: 0 24px;
}

.center:hover,
.center:focus {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.018);
}
